<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C1.C1Excel" version="4.5.20202.450" targetFramework="net452" />
  <package id="C1.Win" version="4.5.20202.450" targetFramework="net452" />
  <package id="C1.Win.Bitmap" version="4.5.20202.450" targetFramework="net452" />
  <package id="C1.Win.C1Command" version="4.5.20202.450" targetFramework="net452" />
  <package id="C1.Win.C1DX" version="4.5.20202.450" targetFramework="net452" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net472" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net452" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="net472" />
</packages>